 {{define "meta-data"}}

<meta name="description" content="" />
<meta name="keywords" content="" /> {{end}} {{define "title"}}About Ben{{end}} {{define "javascript"}}
<script type="text/javascript">
</script>

{{end}} {{define "nav-slider"}} {{end}} {{define "header"}} {{end}} {{define "nav"}} {{end}}
<!--end of nav definition-->


{{define "body"}}

<div class="white container text-black" style="padding-left: 4.333%; padding-right: 4.333%;color: black;">
    <h3>Portfolio</h3>
    </br>
    </br>



    <ul id="tabs-swipe-demo" class="tabs">
        <li class="tab col s3"><a href="#test-swipe-1"><i class="fa fa-html5" aria-hidden="true" style="font-size:2em"></i>	&nbsp; 	&nbsp; HTML, CSS, JavaScript</a></li>
        <li class="tab col s3">
            <a class="active" style="vertical-align: middle;" href="#test-swipe-2"><img src="../assets/images/golang.svg" style="height: 30px; vertical-align:middle;" /> &nbsp; &nbsp; GOLANG</a>
        </li>
        <li class="tab col s3"><a href="#test-swipe-3">Test 3</a></li>
    </ul>
    <div id="test-swipe-1" class="col s12">
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="fa fa-clock-o" aria-hidden="true"></i>A Simple Interesting Clock</div>
                <div class="collapsible-body">
                    <p data-height="265" data-theme-id="dark" data-slug-hash="BztjL" data-default-tab="result" data-user="Sm0k3scr33n" data-embed-version="2" data-pen-title="Look a clock" class="codepen">See the Pen <a href="http://codepen.io/Sm0k3scr33n/pen/BztjL/">Look a clock</a> by sm0k3scr33n (<a href="http://codepen.io/Sm0k3scr33n">@Sm0k3scr33n</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fa fa-list"></i>Condensing Navigation Menu</div>
                <div class="collapsible-body">
                    <iframe height='265' scrolling='no' title='Condensing navigation menu' src='//codepen.io/Sm0k3scr33n/embed/DkLAc/?height=265&theme-id=dark&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/Sm0k3scr33n/pen/DkLAc/'>Condensing navigation menu</a> by sm0k3scr33n (<a href='http://codepen.io/Sm0k3scr33n'>@Sm0k3scr33n</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fa fa-sliders" aria-hidden="true"></i>Color Mixer - Mix and blen rgb Colors
                </div>
                <div class="collapsible-body">
                    <iframe height='265' scrolling='no' title='Color mixers' src='//codepen.io/Sm0k3scr33n/embed/qEOmRy/?height=265&theme-id=dark&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/Sm0k3scr33n/pen/qEOmRy/'>Color mixers</a> by sm0k3scr33n (<a href='http://codepen.io/Sm0k3scr33n'>@Sm0k3scr33n</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fa fa-random" aria-hidden="true"></i>Rabndom Color Gneration</div>
                <div class="collapsible-body">
                    <iframe height='265' scrolling='no' title='Rabndom Color Gneration' src='//codepen.io/Sm0k3scr33n/embed/qEONPE/?height=265&theme-id=dark&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/Sm0k3scr33n/pen/qEONPE/'>Rabndom Color Gneration</a> by sm0k3scr33n (<a href='http://codepen.io/Sm0k3scr33n'>@Sm0k3scr33n</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fa fa-eye" aria-hidden="true"></i> Visual Animations With CSS</div>
                <div class="collapsible-body">
                    <iframe height='265' scrolling='no' title='Visuals with css' src='//codepen.io/Sm0k3scr33n/embed/flLzr/?height=265&theme-id=dark&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/Sm0k3scr33n/pen/flLzr/'>Visuals with css</a> by sm0k3scr33n (<a href='http://codepen.io/Sm0k3scr33n'>@Sm0k3scr33n</a>) on <a href='http://codepen.io'>CodePen</a>.
</iframe>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fa fa-th" aria-hidden="true"></i>Responsive Material Design 3x3 Cards Material Design</div>
                <div class="collapsible-body">
                    <iframe height='265' scrolling='no' title='Responsive design 3x3 cards material design' src='//codepen.io/Sm0k3scr33n/embed/yVeoVz/?height=265&theme-id=dark&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/Sm0k3scr33n/pen/yVeoVz/'>Responsive design 3x3 cards material design</a> by sm0k3scr33n (<a href='http://codepen.io/Sm0k3scr33n'>@Sm0k3scr33n</a>) on <a href='http://codepen.io'>CodePen</a>
                    </iframe>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fa fa-th-large" aria-hidden="true"></i>Responsive Design Rows of Two Collapsing Columns</div>
                <div class="collapsible-body">
                    <iframe height='237' scrolling='no' title='Responsive design rows of two collapsing columns' src='//codepen.io/Sm0k3scr33n/embed/oYbOar/?height=237&theme-id=dark&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/Sm0k3scr33n/pen/oYbOar/'>Responsive design rows of two collapsing columns</a> by sm0k3scr33n (<a href='http://codepen.io/Sm0k3scr33n'>@Sm0k3scr33n</a>) on <a href='http://codepen.io'>CodePen</a>.
                    </iframe>
                </div>
            </li>
        </ul>
    </div>
    <div id="test-swipe-2" class="col s12">
        <ul>
            <li>one</li>
            <li>two</li>
            <li>three</li>
        </ul>
    </div>
    <div id="test-swipe-3" class="col s12 green">Test 3</div>
</br></br>

</div>


{{end}} {{define "footer"}} {{end}} {{define "bottom-bar"}} {{end}}
