 {{define "meta-data"}}

<meta name="description" content="" />
<meta name="keywords" content="" /> {{end}} {{define "title"}}About Ben{{end}} {{define "javascript"}}
<script type="text/javascript">
</script>

{{end}} {{define "nav-slider"}} {{end}} {{define "header"}} {{end}} {{define "nav"}} {{end}}
<!--end of nav definition-->


{{define "body"}}

<div class="white container text-black" style="padding-left: 4.333%; padding-right: 4.333%;color: black;" >
<h3>Portfolio</h3>
</div>


{{end}} {{define "footer"}} {{end}} {{define "bottom-bar"}} {{end}}
