 {{define "meta-data"}}

<meta name="description" content="" />
<meta name="keywords" content="" /> {{end}} {{define "title"}}About Ben{{end}} {{define "javascript"}}
<script type="text/javascript">
</script>

{{end}} {{define "nav-slider"}} {{end}} {{define "header"}} {{end}} {{define "nav"}} {{end}}
<!--end of nav definition-->


{{define "body"}}

<div class="white container text-black" style="padding-left: 4.333%; padding-right: 4.333%;color: black;" >

<p>

</br></br></br></br>
My name is Ben Gabbard and I am a world-class software professional with more
than 15 years of total development experience. Recently I decided to seal the
deal and complete my Bachelor of Information Technology with an emphasis in
advanced software development. I have extensive experience in web design and
development but have been more interested in establishing myself as a credible
authority on full stack development for API based applications. Right now I am
actively seeking as much opportunity as I can find. My most recent employment
opportunities have given me lots of experience with developing and managing
enterprise applications in a new development language call go from google.
This recent introduction to golang has given me a lot of ideas on designing
software that scales horizontally. For example, this very website is in fact a
scaled golang application running a template generating engine.
</p>
<p>
My dream opportunity would probably at this point involve developing enterprise applications with golang and Mongo DB as a backend. We are at the point with technology that our applications can be light weight and robust and with golang we achieve that with benchmarking proof that we have something faster than previous technologies would allow.
</p>
<p>
At this point and in the future I intent to continue updating this website as a working blog and provide ample examples of my capability as a developer. This site will serve as proof of why you need to pay me a lot of money to come work for your company.
</p>

Thank you,</br>
Ben Gabbard
</br></br></br>
</p></div>


{{end}} {{define "footer"}} {{end}} {{define "bottom-bar"}} {{end}}
