 {{define "meta-data"}}

<meta name="description" content="" />
<meta name="keywords" content="" /> {{end}} {{define "title"}}About Ben{{end}} {{define "javascript"}}
<script type="text/javascript">
</script>

{{end}} {{define "nav-slider"}} {{end}} {{define "header"}} {{end}} {{define "nav"}} {{end}}
<!--end of nav definition-->


{{define "body"}}

<div class="white container text-black" style="padding-left: 4.333%; padding-right: 4.333%;color: black;" >
    <div class="nav-wrapper">
    </br></br></br>
      <div class="col s12" >
        <a href="../" class="breadcrumb" style="color:black;">Home</a>
        <a href="#!" class="breadcrumb" style="color:black;">Code</a>
      </div>
    </div>
<p>
<h3>A list of some of my favorite coding projects</h3>
</br>
</p>

</br></br></br>
</p></div>


{{end}} {{define "footer"}} {{end}} {{define "bottom-bar"}} {{end}}
