 {{define "meta-data"}}

<meta name="description" content="" />
<meta name="keywords" content="" /> {{end}} {{define "title"}}About Ben{{end}} {{define "javascript"}}
<script type="text/javascript">
</script>

{{end}} {{define "nav-slider"}} {{end}} {{define "header"}} {{end}} {{define "nav"}} {{end}}
<!--end of nav definition-->


{{define "body"}}

<div id="devlinks" class="white container text-black" style="padding-left: 4.333%; padding-right: 4.333%;color: black;">
    </br>
    </br>
    </br>
    <h3>Development Links</h3>
    </br>
    </br>
    </br>
    <a class="black-text" href="http://Github.com/Sm0k3scr33n" target="_blank">Github.com/Sm0k3scr33n - All of the code I write gets place on github.com.</a></br>
    <a class="black-text" href="http://codepen.io/Sm0k3scr33n" target="_blank">codpen.io/Sm0k3scr33n - This is the best site to develop quick ideas</a></br>
    </br>
    </br>
    </br>


</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div id="favlinks" class="white container black-text" style="padding-left: 4.333%; padding-right: 4.333%;color: black;">
    </br>
    </br>
    </br>
    <h3>Favorite Links</h3>
    </br>
    </br>
    </br>
    <a class="black-text" href="Github.com">link text</a>
    <a class="black-text" href="http://Github.com/Sm0k3scr33n" target="_blank">Github.com/Sm0k3scr33n - All of the code I write gets place on github.com.</a></br>
    <a class="black-text" href="http://codepen.io/Sm0k3scr33n" target="_blank">codpen.io/Sm0k3scr33n - This is the best site to develop quick ideas</a></br>
    </br>
    </br>
    </br>


</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
{{end}} {{define "footer"}} {{end}} {{define "bottom-bar"}} {{end}}
