 {{define "meta-data"}}

<meta name="description" content="" />
<meta name="keywords" content="" /> {{end}} {{define "title"}}bengabbard.us Home{{end}} {{define "javascript"}}
</script>
<style>
    .parallax-container {
        height: auto;
        padding-top: 30px;
    }

    body {
        background-color: #003959;
    }

    p {
        text-indent: 50px;
    }

    .container {
        color: black;
    }

    .background-1 {
        max-width: 500px;
        height: 250px;
        position: relative;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/130527/water.jpeg') no-repeat;
        background-size: cover;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        border-radius: 0px;
        margin: 0 auto;
    }

    .foreground {
        max-width: 90%;
        height: 85%;
        position: relative;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%) translateZ(50px);
        -moz-transform: translate(-50%, -50%) translateZ(50px);
        -ms-transform: translate(-50%, -50%) translateZ(50px);
        -o-transform: translate(-50%, -50%) translateZ(50px);
        transform: translate(-50%, -50%) translateZ(50px);
    }

    @media (max-width: 768px) {
        .background {
            height: 300px;
        }
        .foreground {
            max-width: 60%;
        }
    }
</style>
{{end}} {{define "nav-slider"}} {{end}} {{define "header"}} {{end}} {{define "nav"}} {{end}}
<!--end of nav definition-->


{{define "body"}}
<div class="white container" style="padding-left: 4.333%; padding-right: 4.333%;">
    <h1>Pass The Hash Attack with John The Ripper</h1>
    <h5> By Ben Gabbard</h5>
    <h6>November 20, 2016</h6>
    </br>
    <h3><b>Intro</b></h3>
    <p>It's a scenario right out of a spy film. Password cracking
        and breaking into systems covertly and without the adversary being aware. We know these attacks
        by a few names including brute forcing, pass the hash, and cracking. Essentially they are all
        the same and iterate over lists in order to hopefully bypass security protocol. </br></br>

        While it may sound a lot like fiction, many systems are highly vulnerable to these types
        of attacks and even implement less desireable cryptographic function.
        To begin with, we are not corrupting the system from the outside in but rather from
        the inside out.
    </br></br>
    <b>The scenario sets up something like this:</b>
</br></br>
        Your boss is concerned someone in the company is selling internal secrets and
        hes has his suspicians about an employee. Instead of confronting the employee, your boss
        asks you if it is possible to log into  the users account and examine the users files and logged
        activity by breaking the users password hash.
    </br></br>
        You as the administrator have root priveledges already but what we want to find out
        the user password. We already have the hash value. We can actually do this in two ways simply by examining the shadow file.
        The first is to use a password List. A password list can be an interesting choice if the victem is predictable and likely to impliment
        a very weak or easy to guess password. While password lists are rudimentary, they can be effective
        if the attacker has good insight to the victems way of thinking. The next option is to consider
        the cryptographic properties of the usersystem. If the cryptographic function implements md5 hash values,
        it is possible to utilize generated rainbow tables to reverse engineer the string that results in the hash
        value on file in the users shadow file which contains passwords on unix.
            </br></br>
            Lets examine this in detail in my video on youtube:

    </p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-9QUu2bO_ng" frameborder="0" allowfullscreen></iframe>

</div>
{{end}} {{define "footer"}} {{end}} {{define "bottom-bar"}} {{end}}
