
{{define "meta-data"}}



{{end}}


{{define "title"}}Weave Home{{end}}
{{define "javascript"}}
<script src="/assets/js/style-technology-page.js"></script>
<script type="text/javascript">
  $(".dropdown-button").dropdown();
</script>

<style type="text/css">
  #brand-logo{color: black}
  #mycolor  {color: black;}
  #mycolor2{color: black;}
  #mycolor3{color: black;}
  #mycolor4{color: black;}
  #mycolor5{color: black;}
  #mycolor6{color: black;}
</style>
{{end}}
{{define "nav-slider"}}

{{end}}
{{define "header"}}
{{end}}
{{define "nav"}}
      
{{end}} <!--end of nav definition-->


{{define "body"}}
<div class="content_body">		
      	<div class="how-it-works row grey lighten-2">
 		<div class="col  s12 l12 m12 left" > 
 			<h1 style=" text-align: center;" class="text-gradient center-align">404 error. page not found</h1></br></br></br></br></br></br>

      		</div>
      		<div class="center"> <!-- Note that "m4 l3" was added -->
			
      		</div>
      	</div>


 		

	


{{end}}



{{define "footer"}}


  {{end}}


{{define "bottom-bar"}}

{{end}}

          