 {{define "meta-data"}}

<meta name="description" content="" />
<meta name="keywords" content="" /> {{end}} {{define "title"}}bengabbard.us Home{{end}} {{define "javascript"}}
</script>
<style>
footer.page-footer{
    padding-top: 0px;
}


.parallax-container {
  height: auto;
      padding-top: 30px;
}


body {
background-color: #003959;
}

.background-1 {
max-width: 500px;
height: 250px;
position: relative;
background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/130527/water.jpeg') no-repeat;
background-size: cover;
-webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
border-radius: 0px;
margin: 0 auto;
}

.foreground {
max-width: 90%;
height: 85%;
position: relative;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%) translateZ(50px);
-moz-transform: translate(-50%, -50%) translateZ(50px);
-ms-transform: translate(-50%, -50%) translateZ(50px);
-o-transform: translate(-50%, -50%) translateZ(50px);
transform: translate(-50%, -50%) translateZ(50px);
}

@media (max-width: 768px) {

  .background {
  height: 300px;
  }

  .foreground {
  max-width: 60%;
  }

}

.wingdings{

    position: relative;
    float: left;
}

</style>
{{end}} {{define "nav-slider"}} {{end}} {{define "header"}} {{end}} {{define "nav"}} {{end}}
<!--end of nav definition-->


{{define "body"}}

<div id="maindiv"> <img src="/assets/images/1.png" width=80%></div>

<div class="content" id="content"></div>



<div class="parallax-container" style="vertical-align: middle;">
    <div class="parallax"><img src="/assets/images/mountains.jpg"></div>





    <div class="row container">



        <div class="col s12 m6 l4">
            <div class="card light-blue darken-4">
                <div class="card-image waves-effect waves-block waves-light"   data-tilt data-tilt-max="50" data-tilt-speed="100" data-tilt-perspective="700">
                    <img class="activator" src="./assets/images/paper_airplane.jpg">

                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Resume<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>


        </div>

        <div class="col s12 m6 l4">
            <div class="card deep-purple darken-4" >
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="https://as2.ftcdn.net/jpg/00/55/38/63/500_F_55386318_z4k5LTF0K4MnO6MmsnBDrrHO6lYJZTGO.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4" >Code<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>

        </div>

        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="https://as2.ftcdn.net/jpg/01/27/68/97/500_F_127689745_W0jrpTHvIjM4KpH1Gg8N8S5VfIGCs00E.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Portfolio<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>

        </div>


    </div>


</div>

<h4>Rescent Posts</h4>
<div class="row">
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="../assets/images/golang-browser.jpg">
                <span class="card-title" style="color:black;">Website Hosting with Templates in GOLANG</span>
            </div>
            <div class="card-content">
                <p style="color: black;">02.27.2017 </br>Learn about using golang as the only language you need for Developing a website</p>
            </div>
            <div class="card-action">
                <a href="./code.html">READ MORE</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card horizontal">
            <div class="card-image">
                image
                <img src="">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="card horizontal">
            <div class="card-image">
                Image
                <img src="">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>


    <div class="col s12 m8 push-m2 l4">
        <div class="card">
            <div class="card-image">
                <img src="./assets/images/photo5.jpg">
                <span class="card-title">TLC5940 LED Driver</span>
            </div>
            <div class="card-content">
                <p>12.20.2016</br>
                    There is nothing more fun than making beuitful LED's blink and chase.
                In this article we discus the usage of the TLC5940 LED drivers with rgb LED's
            </p>
            </div>
            <div class="card-action">
                <a href="./articles/tlc5940-led-driver.html">Read More</a>
            </div>
        </div>
    </div>

</div>






<div class="row">
    <div class="col s12 m5 l3">
        <div class="card">
            <div class="card-image">
                <img src="./assets/images/me1.jpg">
                <span class="card-title">My Profile</span>
            </div>
            <div class="card-content">
                <p>Check out my simple profile and learn about wonderful me.</p>
            </div>
            <div class="card-action">
                <a href="./about/index.html">About Ben</a>
            </div>
        </div>
    </div>

    <div class="col s12 m7 l5">
        <div class="card">
            <div class="card-image">
                <img src="./assets/images/github-sn.jpg">
                <span class="card-title" style="color:black;">Github.com/Sm0k3scr33n</span>
            </div>
            <div class="card-content">
                <p>My Git hub is where I religiously tinker on many projects and is
                the best place to look for new material and to view the most recent
            projects I am working on</p>
            </div>
            <div class="card-action">
                <a href="https://www.github.com/Sm0k3scr33n/" target="_blank">Github.com/Sm0k3scr33n</a>
            </div>
        </div>
    </div>


    <div class="col s12 m8 push-m2 l4">
        <div class="card">
            <div class="card-image waves-effect waves-light">
                <img src="./assets/images/codepen-sn.jpg">
                <span class="card-title">Codepen.io/Sm0k3scr33n/</span>
            </div>
            <div class="card-content">
                <p>Code pen is my goto site for developing clean and elegant html,
                css, and javascript. I think it is important to have a place to show
            off some of the more vissorally creative side of my portfolio.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="https://placehold.it/350x150">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="https://placehold.it/350x150">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>


    <div class="col s12 m7 l4">
        <div class="card">
            <div class="card-image">
                <img src="https://placehold.it/350x150">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>

</div>

<div class="container ">
    <img class="card" src="/assets/images/tech_images/docker.svg" height="50px;">
    <img class="card" src="/assets/images/tech_images/mongodb.png" height="50px;">
    <img class="card" src="/assets/images/tech_images/angular.svg" height="50px;">
    <img class="card" src="/assets/images/tech_images/golang.svg" height="50px;">

    <br /><br /><br /><br /><br />
</div>
{{end}} {{define "footer"}} {{end}} {{define "bottom-bar"}} {{end}}
